# Ignore node_modules directory
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment configuration files
.env

# Ignore built files
/build

# Ignore dependencies installed by npm
npm-debug.log
npm-debug.log.*
.pnpm
.pnpm-debug.log
yarn-debug.log
yarn-error.log

# Ignore local configuration files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
